<div class="container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <h2 class="d-flex justify-content-between title">
        商品一覧
        <%= link_to new_admin_item_path do %>
          <i class="fa-regular fa-square-plus"></i>
        <% end %>
      </h2>
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item) %></td>
              <td>¥ <%= item.excluding_tax_price %></td>
              <% if item.genre.present? %>
              <td><%= item.genre.name %></td>
              <% else %>
              <td>未設定</td>
              <% end %>
              <td>
                <% if item.is_active %>
                  <span style="color: #1a8066;">販売中</span>
                <% else %>
                  <span class="text-danger">販売停止中</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @items, theme: "page" %>
      </div>
    </div>
  </div>
</div>