<div class='container'>
  <div class="row" style="margin-top: 50px;">
    <h3 class="title">ジャンル一覧・追加</h3>
  </div>
  <div class='row' style="margin-bottom: 50px;">
    <div class='col-3 offset-1'>
      <div class="m-2">
        <table class="table mt-3 border">
          <thead class="table-secondary">
            <%=form_with model: @genre,url: admin_genres_path, method: :post do |f| %>
              <tr>
                <th class="d-flex justify-content-center">ジャンル追加</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td class="d-flex justify-content-center"><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td class="d-flex justify-content-center"><%= f.submit'新規登録',class: "btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-6 offset-1">
      <table class='table table-hover table-inverse mt-3'>
        <thead class="table-secondary">
          <tr>
            <th>ジャンル</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td class="d-flex justify-content-end">
                <%= link_to edit_admin_genre_path(genre) do %>
                  <button type="button" class="btn btn-success">編集する</button>
                <% end %>
              </td>
              <td><%= link_to '削除する', admin_genre_path(genre), method: :delete, class: "btn btn-danger", data: { confirm: "#{genre.name}を削除しますか？" } %></td>
             </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
