<div class="container">
  <div class="row main-row">
    <div class="col-10">
      <h3 class="title">配送先登録/一覧</h3>
      <%= render "public/shared/error_messages", resource: @shipping_address %>
        <%= form_with model: ShippingAddress.new, local: true do |f| %>
          <div class="form-row">
            <span class="form-group col-3">郵便番号(ハイフンなし)</span>
            <div class="form-group col-3">
             <%= f.text_field :postal_code, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <span class="form-group col-3">住所</span>
            <div class="form-group col-6">
             <%= f.text_field :shipping_address, class: "form-control" %>
            </div>
          </div>
          
          <div class="form-row">
            <span class="form-group col-3">宛名</span>
            <div class="form-group col-3">
             <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
          
          <div class="justify-content-end d-flex">
          <%= f.submit :"登録" ,class: 'col-2  btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered ">
        <thead class="table-warning">
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
              <th colspan="2"></th>
            </tr>
        </thead>
          <% @shipping_addresses.each do |shipping_address| %>
            <tr>
              <td><%= shipping_address.postal_code %></td>
              <td><%= shipping_address.shipping_address %></td>
              <td><%= shipping_address.name %></td>
               <td>
                <%= link_to '削除する', shipping_address, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{shipping_address.id}" %>
                <%= link_to "編集する", edit_shipping_address_path(shipping_address), class: "ml-2 btn btn-sm btn-success" %>
              </td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>