<div class="container">
  <div class="row main-row">
    <div class="col-10 mx-auto">
      <h2 class="title">注文情報確認</h2>
        <table class='table table-hover table-inverse table-bordered'>
          <thead class="table-warning">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th class="text-right">小計</th>
            </tr>
          </thead>
          <tbody>

            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_item_image(100,80) %>
           　      <strong><%= cart_item.item.name %></strong>
                </td>
                <td class="align-middle">¥ <%= number_to_currency(cart_item.item.tax_included_price, unit: "", precision: 0) %></td>
                <td class="align-middle"><%= cart_item.amount %></td>
                <td class="align-middle text-right">¥ <%= number_to_currency(cart_item.item.tax_included_price * cart_item.amount, unit: "", precision: 0) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto float-right">
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <th>送料</th>
            <td class="text-right">¥ <%= @order.shipping %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td class="text-right"><%= number_to_currency(@cart_items_price, delimiter: ',', format: '¥ %n', precision: 0) %></td>
          </tr>
          <tr>
            <th>請求額</th>
            <td class="text-right">¥ <%= number_to_currency(@order.total, unit: "", precision: 0) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <h5>支払方法</h5>
        <% if @order.payment_method == "credit_card" %>
          クレジットカード
        <% else %>
           銀行振込
        <% end %>


      <h5 class="mt-5">お届け先</h5>
        <%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.name %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :total %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :postal_code %>
        <div class="text-right mb-5">
          <%= f.submit "注文を確定する", class: "btn btn-lg btn-primary mt-5" %>
        </div>
    <% end %>
  </div>

</div>