<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mt-4">注文情報確認</h2>
        <table class='table table-hover table-inverse table-bordered'>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th class="text-right">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_item_image(100,80) %>
           　      <strong><%= cart_item.item.name %></strong>
                </td>
                <td class="align-middle"><%= number_to_currency(cart_item.item.tax_included_price, unit: "", precision: 0) %></td>
                <td class="align-middle"><%= cart_item.amount %></td>
                <td class="align-middle text-right"><%= number_to_currency(cart_item.item.tax_included_price * cart_item.amount, unit: "", precision: 0) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 float-right">
      <table class="table table-hover table-inverse">
        <tr>
          <td class="font-weight-bold">送料</td>
          <td class="text-right"><%= @order.shipping %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">商品合計</td>
          <td class="text-right"><%= number_to_currency(@cart_items_price, delimiter: ',', format: '%n', precision: 0) %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">請求額</td>
          <!--請求額はinspectをつけたら表示されますが、無しだと空欄になります!後日要調整!!-->
          <td class="text-right"><%= number_to_currency(@order.total.inspect, unit: "", precision: 0) %></td>

        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>支払方法</h3>
        <% if @order.payment_method == "credit_card" %>
          クレジットカード
        <% else %>
           銀行振込
        <% end %>


      <h3 class="mt-5">お届け先</h3>
        <%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.name %>

        <%= form_with url: orders_path, method: :post do |f| %>
          <%= f.hidden_field :payment_method, value: @order.payment_method %>
          <%= f.hidden_field :address, value: @order.address %>

          <% if @address == "shipping_address" %>
            <%= f.hidden_field :shipping_address, value: @order.shipping_address %>
          <% elsif @address == "new_address" %>
            <%= f.hidden_field :postal_code, value: @order.postal_code %>
            <%= f.hidden_field :address, value: @order.address %>
            <%= f.hidden_field :name, value: @order.name %>
          <% end %>

        <div class="text-right mb-5">
          <%= f.submit "注文を確定する", class: "btn btn-success" %>
        </div>
        <% end %>

<!--ここは参考サイト2から試しに引用-->
  <div class="row justify-content-center">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :shipping %>
        <%= f.hidden_field :total %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :order_status %>
    <% end %>
  </div>

    </div>
  </div>
</div>