<div class="container">
  <div class="row">
      <h2>注文情報確認</h2>
        <table class='table col-md-6 table-hover table-inverse table-bordered'>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_item_image(100,80) %>
           　      <strong><%= cart_item.item.name %></strong>
                </td>
                <td><%= cart_item.order_details.including_tax_price %></td>
                <td><%= cart_item.order_details.amount %></td>
                <td><%= cart_item.item.price*cart_item.quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table class="table col-md-2 table-hover table-inverse table-bordered">
          <tr>
            <td>送料</td>
            <td><%= @shipping %></td>
          </tr>
          <tr>
            <td>商品合計</td>
            <td><%= number_to_currency(@cart_items_price, delimiter: ',', format: '¥ %n', precision: 0) %></td>
          </tr>
          <tr>
            <td>請求額</td>
            <td><%= @total %></td>
          </tr>
        </table>

      <h3>支払方法</h3>
        <%= @order.payment_method %>

      <h3>お届け先</h3>
        <%= @selected_address %>

        <%= form_with url: orders_path, method: :post do %>

        <%= hidden_field_tag 'order[pay_method]', @selected_payment_method %>
        <%= hidden_field_tag 'order[address_type]', @address_type %>

          <% if @address_type == "shipping_address" %>
            <%= hidden_field_tag 'order[shipping_address_id]', params[:order][:shipping_address_id] %>
          <% elsif @address_type == "new_address" %>
            <%= hidden_field_tag 'order[new_postal_code]', params[:order][:new_postal_code] %>
            <%= hidden_field_tag 'order[new_address]', params[:order][:new_address] %>
            <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
          <% end %>
          <%= submit_tag "注文を確定する", class: "btn btn-success" %>
        <% end %>

  </div>
</div>