<div class="container">
  <div class="row main-row">
      <div class="col-10 mx-auto">
        <h3 class="title">注文履歴一覧</h3>
        <table class="table">
          <thead class="table-warning">
            <tr>
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払い金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= order.address %></td>
                <td>
                    <% order.order_details.each do |order_detail|  %>
                      <%= order_detail.item.name %><br>
                    <% end %>
                </td>
                <td><%= number_to_currency(order.total, unit: "", precision: 0) %></td>
                <td><%= order.order_status_i18n %></td>
                <td><%= link_to "表示する", order_path(order.id), class: "btn btn-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @orders, theme: 'page' %>
  </div>
</div>
